body {
    background-color: whitesmoke;
}

.container {
    margin-top: 5px;
}

label {
    font-weight: bold;
}

.row {
    display: flex;
    align-items: center;
}

.table{
    margin-top: 4rem;
}

a{
    text-decoration: none;
    color: white;
}